<!DOCTYPE html>
<html>
  <head>
    <title>Color Buttons</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body class="main" style="background-color: #121212; color: #eee">
    <h1 class="title">LED Controller</h1>
    <div class="options" id="bgcolor">
      <p>Maintenance options</p>
      <label class="switch">
        <input type="checkbox" id="color_toggle"/>
        <span class="slider round"></span>
      </label>
      <p>Color options</p>
      <div class="colorwrapper" style="display: flex; gap: 3px">
        <input type="color" id="color_picker" />
      </div>
      <p id="bgtext"></p>
    </div>
    <script src="./color.js"></script>
  </body>
</html>
